/* własne czcionki */

@font-face {
    font-family: 'DroidSans';
    src: url('type/DroidSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DroidSans-Bold';
    src: url('type/DroidSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'DroidSerif-Regular';
    src: url('type/DroidSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DroidSerif-Bold';
    src: url('type/DroidSerif-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'DroidSerif-Italic';
    src: url('type/DroidSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}




/* GLOBALNE */
body    { font-family: "DroidSans"}
a       { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { font-family: DroidSerif-Regular; margin-left: -20px; margin-bottom: 8px; }

#main_content h1, #main_content h2, 
#main_content h3, #main_content h4, 
#main_content h5, #main_content h6 { margin-left: -5px; color: #425c78; }
.center { text-align: center; }



.margin_top_50  { margin-top: 50px;  }
.margin_top_100 { margin-top: 100px; }
.border_radius_5 { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }





#content { background: #2d3e50; background-image: url('images/panel_bg.png');  }
#panel_left,            #panel_right            { color: white;text-shadow: 1px 2px 4px #231f20;
                                                  filter: dropshadow(color=#231f20, offx=1, offy=2);}
#panel_left a,          #panel_right a          { color: white; }
#panel_left a:hover,    #panel_right a:hover    { color: #425c78; }

#panel_left, #panel_main, #panel_right { min-height: 300px; border-bottom: 1px solid #2d3e50; }
#panel_left div { margin-left: 30px; }




#panel_main { background: white; min-height: 670px;
              -webkit-box-shadow: 0px -3px 10px rgba(50, 50, 50, 1);
              -moz-box-shadow:    0px -3px 10px rgba(50, 50, 50, 1);
              box-shadow:         0px -3px 10px rgba(50, 50, 50, 1); }
#panel_main #main_content { padding: 50px 15px; font-family: DroidSerif-Regular; }






.menu_anchor a { width: 145px; padding: 15px; display: inline-block; background: #2d3e50;
                 border: 1px solid #425c78; margin: 5px 0 5px -5px; }
.menu_anchor a:hover  { color: #151e27!important; background: #425c78; }
.menu_anchor a:active { color: #2d3e50!important; }

#statystyka { font-size: 12px; margin-top: 50px;}
#ostatnio_dodane ul { list-style: none; margin-left: -25px;}

form input, form button, div.button { display: inline-block; padding: 10px; border: 1px solid silver; width: 210px; 
                                      margin-top: 3px; font-family: "DroidSerif-Italic"; font-style: italic; 
                                      font-size: 14px; text-align: center; }
                         div.button { background: #f0f0f0; display: inline-block; float: right }
form input[type=submit]:hover, form div.button:hover { background: rgba(66, 92, 120, 0.05); }
form input[type=submit]:active, form div.button:active { background: rgba(66, 92, 120, 0.09); }
form input:focus { color: #425c78; background: rgba(66, 92, 120, 0.05); }
form input[type=submit], button { width: 150px; margin: 0 15px; }
form input[readonly="readonly"], form input[readonly] {
    background: rgba(66, 92, 120, 0.09); color: #888;
}

#zapisz_kod_qr {  }

#zapisz_kod_qr, #zapisz_nowy_kod_qr { display: none; width: 160px; }
#zapisz_nowy_kod_qr { display: block; }
#wygenerowany_kod { text-align: center; }



.qr_link { color: rgb(45, 62, 80); }

.lista { width: 515px; margin-left: -20px; }
.lista td { padding: 8px 4px; }

.lista thead, .lista tfoot { font-family: "DroidSans"; }
.lista thead { background: #2d3e50; background-image: url('images/panel_bg.png');
                     color: white; text-shadow: 1px 2px 4px #231f20;
                     filter: dropshadow(color=#231f20, offx=1, offy=2); }
.lista thead td { text-align: center; }

.lista tbody tr { color: rgba(45, 62, 80, 0.6); }
.lista tbody tr:nth-child(odd) { background: rgba(66, 92, 120, 0.05); }
.lista tbody tr:hover { background: rgba(66, 92, 120, 0.1) }
.lista tbody tr td:hover { background: rgba(66, 92, 120, 0.05) }


.lista tfoot td { text-align: center; color: #2d3e50; font-weight: bold; }

.styled_table td { padding: 1px 10px;  /*rgba(66, 92, 120, 0.3);*/ }
.styled_table td.label { text-align: right; vertical-align: middle; color: rgba(66, 92, 120, 1); font-style:normal; }
.styled_table input[type="submit"] { text-align: center; }
.styled_table input             { width: 180px; margin: 0; padding: 6px; text-align: left; }
.styled_table .smallest_input   { width: 70px; }
.styled_table .small_input      { width: 120px; }
.styled_table .large_input      { width: 240px; }

#lista_szablonow, #wybierz_szablon { padding: 4px 6px;  }
/*#lista_szablonow        { padding: 2px; }
#lista_szablonow option { padding: 4px 6px; }*/
#wybierz_szablon { display: inline-block; background: rgba(66, 92, 120, 0.05);
                   border: 1px solid silver; text-align: center;
                   font-family: "DroidSerif-Italic"; font-style: italic; }


div.pagination>strong, div.pagination>a, a.download-button { 
    display: inline-block; width: 25px; height:30px; line-height: 30px; 
    background: rgba(45, 62, 80, 0.08); border: solid 1px rgba(45, 62, 80, 0.15);
    color: rgba(45, 62, 80, 1);
}
div.pagination>strong { background: rgba(45, 62, 80, 0 ); border-color: rgba(45, 62, 80, 0.6)}
div.pagination>a:hover, a.download-button:hover { border-color: rgba(45, 62, 80, 0.6) }

a.download-button { display: inline-block; width: auto; padding: 0 20px; }